.Apps {
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #e9eee3;
  /* margin: 0 auto; */
}
* {
  box-sizing: border-box;
  border-radius: 0.5rem;
}
body {
  /* max-width: 600px; */
  margin: 0 auto;
}
main {
  max-width: 700px;
  margin: auto;
}
.topsItems {
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}
.topsItems p {
  /* padding: 1rem; */
  margin-top: 2rem;
}
.first {
  color: #990073;
  font-weight: bold;
  font-size: 25px;
}
.middle {
  font-size: larger;
}
.bikes {
  color: red;
  font-size: 3rem;
  font-weight: bold;
  /* margin-bottom: 5rem; */
}

ul li {
  list-style-type: none;
}
.buttons {
  /* display: block; */
  margin-right: 1.9rem;
  width: 90px;
  height: 45px;
  cursor: pointer;
  border-color: #990073;
  border-width: 3px;
  text-align: center;
}
.listArrangement {
  float: center;
  margin: 0 auto;
  width: 500px;
  /* height: 70%; */
  padding: 1rem;
  /* padding-left: rem; */
}
div small {
  margin: 0 auto;
  text-align: center;
}
.listArrangement ul {
  list-style-type: none;
  /* margin: 0; */
  /* padding: 0; */
}

.listArrangement li {
  text-align: center;
  display: block;
  width: 100%;
  margin: 1.5rem auto;
  padding: 1rem;
  color: white;
  background-color: #990073;

  border-radius: 5px;
  font-size: large;
}

.listArrangement li span {
  font-size: small;
  font-weight: lighter;
}
